<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>New Chat</h1>
    <form method="POST" action="/chats">
        <div class="new-box ">
            <input class="sender" type="text" placeholder="enter sender name" name="from">
            <textarea class="newmessage" name="message" placeholder="type message here"></textarea>
            <input class="receiver" type="text" placeholder="receiver name" name="to">
            <button class="send-chat">Send Chat</button>
        </div>
    </form>
</body>

</html>