 .main-box {
     display: flex;
     flex-wrap: wrap;
 }

 .box {
     max-width: 300px;
     border: 2px solid black;
     margin: 10px;
     padding: 5px;
     border-radius: 5px;
 }

 .message {
     height: 20px;
     padding: 5px;
     background-color: blueviolet;
     color: white;
     border-radius: 5px;
 }


 .sender {
     height: 25px;
     width: 200px;
     border-radius: 5px;
     background-color: rgb(63, 41, 41);
     color: white;
     padding: 5px;
     border: none;
 }

 .newmessage {
     height: 100px;
     width: 300px;
     border-radius: 10px;
     background-color: rgb(63, 41, 41);
     color: white;
     padding: 10px;

 }

 .receiver {
     height: 25px;
     width: 200px;
     border-radius: 5px;
     background-color: rgb(63, 41, 41);
     color: white;
     padding: 5px;
     border: none;
 }

 .new-box {
     display: flex;
     gap: 10px;
     flex-direction: column;
 }

 .send-chat {
     height: 30px;
     width: 140px;
     border-radius: 10px;
     border: none;
     background-color: rgb(144, 80, 204);
     color: white;
     cursor: pointer;
 }